# ====================== 通用系统忽略 ======================
# Windows
Thumbs.db
Desktop.ini
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Linux
*~

# ===================== 日志、临时文件 =====================
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

# ====================== VSCode 专用缓存 ======================
# .vscode/
# 注意：如果你不要保存tasks.json/launch.json到仓库，打开上面一行注释，同时注释或删除下面这三行
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/c_cpp_properties.json
.vscode/.env
.vscode/extensions.json
.vscode/settings.jsonc
.vscode/**/.git
*.code-workspace
# 临时缓存
.vs/
*.log

# 构建输出目录
build/
bin/
obj/
dist/

# 本地用户配置
*.csproj.user

# ====================== Visual Studio ====================================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# 编译产物
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
ARM/
# 项目缓存
*.vcxproj.user
*.csproj.user
# 自定义输出文件夹
bin/
obj/

# NuGet
packages/
*.nupkg

# ====================== Python ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log